html * {
  font-family: sans-serif;

}

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 20px;
  margin: 0;
}


.outter-div {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


.newsItem div {
  /* padding: 5px 10px 5px 10px; */
  /* border-style: solid;
  border-width: thin; */
  /* border: 1px solid black; */
}

#companyNewsBar {
  width: 10%;
  text-align: center;
}

#companyNewsList {
  width: 90%;
}



#newsFooter {
  width: 100%;
  bottom: 30px;
}

#quotePrice {
  font-size: 30px;
  font-weight: bold;
}

.suggested-news {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

.watchListItem {
  /* border-style: solid;
  border-width: thin; */
  width: 100%;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  margin: 0;
  padding: 10px;
  /* display: flex;
  flex-direction: row; */
  position: relative;
}


.refresh-icon {
  pointer-events: none;
}


#latestUpdate {
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
}

#chart {
  width: 100%;
  text-align: center;
}


#home-intro-p {
  font-size: 30px;
  text-align: center;
}

.footer {
  margin-top: 100px;
  margin-bottom: 50px;
}

.footer p {
  font-size: 18px;
  text-align: center;
}

/*
.navbar-custom {
  background-color: #0099cc;
  color:#ffffff;
}

.navbar-custom: hover {
  background-color: #00bfff;
}

.navbar-custom: active {
  background-color: #00bfff;
}

.navbar-custom .navbar-nav > li > a {
  	color:#fff;
}
*/


/* style the bootstrap carousel */
.custom-carousel {
  /* width: 100% !important; */
  /* width: 1000px !important; */
  /* width: 100% !important; */
  /* text-align: center; */

}

.home-carousel-div {
  width: 100%;
}

.carousel-img {
  max-width: 800px;
  max-height: 500px;
  margin: auto;
}

/* keep news footer at bottom of page */
.main-content-wrapper {
  min-height: calc(100vh - 150px);
}


/* container for message returned by submitting feedback form */
#form-message {
  display: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #009900;
  color: white;
  border-radius: 15px;
  text-align: center;
}

.contact-page-outter-container {
  display: block;
  text-align: center;
}

#feedback-form {
  text-align: left;
}

#feedback-form > input, textarea {
  width: 100%;
}

.contact-page-inner-container {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
