
.inline-block {
  display: inline-block;
}

.watchListContainer {
  width: 100%;
}

.watchListName {
  display: inline-block;
  font-size: 20px;
}

.watch-list-remove {
  float: right;
}

.watch-list-edit-item {
  margin: 10px 0px 10px 0px;
  padding: 5px 5px 5px 5px;
}

.watch-list-edit-item:hover {
  background-color: #b3daff;
}

.watch-list-edit-item:active {
  background-color: #99ceff;
}

.symbolName {
  font-weight: bold;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0;
}

.watchListItemRemove {
  float: right;
  opacity: 0.7;
}

.watchListItemRemove:hover {
  background-color: #e6e6e6;
}

.watchListItemRemove:active {
  background-color: #bfbfbf;
}

.watch-list-options {
  float: right;
}

.custom-modal {
  white-space: nowrap;
}

.watchList {
  display: inline-block;
  width: 33%;
  margin-bottom: 50px;
  vertical-align: top;
}

.watch-list-left-side {
  display: inline-block;
  width: 90%;
  margin-right: 10px;
}

.watchListItemQuote {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.watchListsMainContainer {
  padding: 0;
  margin: 0;
  width: 100%;
}

#watchlistPrice {
  font-size: 18px;
}

#watchlistDateStamp {
  font-size: 9px;
  font-style: italic;
  display: inline-block;
  margin-left: 20px;
}

.gain {
  color: #00cc00;
  font-size: 16px;
  display: inline;
  margin-left: 10px;
}

.loss {
  color: #ff3300;
  font-size: 16px;
  display: inline;
  margin-left: 10px;
}

#refreshButton {
  display: inline-block;
  text-align: center;
  background-color: #f2f2f2;
  padding: 5px 10px 5px 10px;
}

#refreshButton:hover {
  background-color: #e6e6e6;
}

#refreshButton:active {
  background-color: #bfbfbf;
}


#inline {
  display: inline-block;
  width: auto;
  margin-right: 20px;
}
