html * {
  font-family: sans-serif;
}


div.inline {
  display: inline-block;
  vertical-align: top;
}

div.verticalCenter {
  display: flex;
  align-items: center;
}

div.verticalCenter p {
  font-size: 1.8em;
  font-weight: bold;
}

div.alignRow {
  display: flex;
  flex-direction: row;
}

#logo {
  /* opacity: 0.8; */
  max-width: 110px;
  max-height: 100px;
  margin: 0 0 0 0;
}

.news {
  width: 60%;
}

.news p {
  font-size: 12px;
  display: inline-block;
  width: 50%;
}

.newsLink {
  text-decoration: none;
}

.newsItem {
  background-color: #f2f2f2;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
}

.newsItem:hover {
  background-color: #cccccc;
}

.newsItem:active {
  background-color: #a6a6a6;
}

.newsLink:hover {
  color: #80b3ff;
}

.newsLink:active {
  color: #003d99;
}

.newsItem div {
  /* padding: 5px 10px 5px 10px; */
  /* border-style: solid;
  border-width: thin; */
  /* border: 1px solid black; */
}

.newsList {
  margin: 0px 10px 5px 10px;

}

#companyNewsBar {
  width: 10%;
  text-align: center;
}

#companyNewsList {
  width: 90%;
}

#newsDate {
  /* text-align: right; */
  padding: 0;
  margin: 0;
}

#newsFooter {
  width: 100%;
}

.quote {
  width: 40%;
}


.submitAdd {
  width: 100%;
}

table.quoteTable {
  text-align: left;
  width: 100%;
  border-spacing: 0 1em;
}

#quotePrice {
  font-size: 30px;
  font-weight: bold;
}

#watchlistPrice {
  font-size: 25px;
}

.currentPrice {
  display: inline;
  color: #1a8cff;
}

.gain {
  color: #00cc00;
  font-size: 20px;
  display: inline;
  margin-left: 10px;
}

.loss {
  color: #ff3300;
  font-size: 20px;
  display: inline;
  margin-left: 10px;

}

.suggestion {
  border-style: solid;
  border-width: thin;
  padding: 5px 10px 5px 10px;
}

.suggestion:hover {
  background-color: #a6a6a6;
}

.suggestion:active {
  background-color: #bfbfbf;
}

.button {
  text-align: center;
}

.watchListItem {
  /* border-style: solid; */
  border-width: thin;
  width: 100%;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  margin: 0;
  padding: 10px;
  /* display: flex;
  flex-direction: row; */
  position: relative;
}

.watchListItemQuote {
  width: 70%;
  display: inline-block;
  padding: 0;
  margin: 0;
  /* margin-bottom: 5px; */
}

.watchListItemRemove {
  /* padding: 0px;
  margin: 10px; */
  display: inline-block;
  /* position: absolute; */
  /* top: 5px;
  right: 5px; */
  opacity: 0.4;
  vertical-align: top;
}

.watchListItemRemove:hover {
  background-color: #e6e6e6;
}

.watchListItemRemove:active {
  background-color: #bfbfbf;
}

.watchListContainer {
  /* border-style: solid; */
  padding: 0;
  margin: 0;
  width: 60%;
}

.symbolName {
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0;
}

#refreshButton {
  display: inline-block;
  text-align: center;
  background-color: #f2f2f2;
  padding: 5px;
  width: 40%;
}

#refreshButton:hover {
  background-color: #e6e6e6;
}

#refreshButton:active {
  background-color: #bfbfbf;
}

#inline {
  display: inline-block;
  width: auto;
  margin-right: 20px;
  /* margin-left: 20px; */
}

#quoteFooter {
  text-align: center;
}

#latestUpdate {
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
}

#watchlistDateStamp {
  font-size: 10px;
  font-style: italic;
  display: inline-block;
  margin-left: 20px;
}

#chart {
  width: 100%;
  text-align: center;
}

.period {
  display: inline-block;
  margin: 8px;
  padding: 2px;
  border-style: solid;
  text-align: center;
}
.period:hover {
  background-color: #e6e6e6;
}

.period:active {
  background-color: #bfbfbf;
}
