html * {
  font-family: sans-serif;

}

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 20px;
  margin: 0;
}


.outter-div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  /* opacity: 0.8; */
  max-width: 110px;
  max-height: 100px;
  margin: 0 0 0 0;
}


.newsItem div {
  /* padding: 5px 10px 5px 10px; */
  /* border-style: solid;
  border-width: thin; */
  /* border: 1px solid black; */
}

#companyNewsBar {
  width: 10%;
  text-align: center;
}

#companyNewsList {
  width: 90%;
}



#newsFooter {
  width: 100%;
  bottom: 30px;
}

#quotePrice {
  font-size: 30px;
  font-weight: bold;
}

.suggested-news {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

.watchListItem {
  /* border-style: solid;
  border-width: thin; */
  width: 100%;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  margin: 0;
  padding: 10px;
  /* display: flex;
  flex-direction: row; */
  position: relative;
}


.refresh-icon {
  pointer-events: none;
}


#latestUpdate {
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
}

#chart {
  width: 100%;
  text-align: center;
}


#home-intro-p {
  font-size: 30px;
  text-align: center;
}

#home-notice-p {
  font-size: 18px;
  text-align: center;
}
